.hud {
    position: relative;
    width: 100%;
    height: 100%;
    container-type: size;
    --hud-corner-w: 110px;
    --hud-corner-h: 80px;
}

@container (max-width: 500px) {
    .hud {
        --hud-corner-w: 60px;
        --hud-corner-h: 45px;
    }
}

@container (max-width: 300px) {
    .hud {
        --hud-corner-w: 36px;
        --hud-corner-h: 28px;
    }
}

@container (max-height: 200px) {
    .hud {
        --hud-corner-h: 28px;
    }
}

.hud-grid {
    position: absolute;
    inset: 0;

    display: grid;

    grid-template-columns: var(--hud-corner-w) 1fr var(--hud-corner-w);
    grid-template-rows: var(--hud-corner-h) 1fr var(--hud-corner-h);

    width: 100%;
    height: 100%;
}

.hud-grid > div {
    width: 100%;
    height: 100%;
}

/* ---------- Corners ---------- */

.tl {
    background: url("/ui/HUD_Frames/corner_tl.svg") no-repeat top left;
    background-size: var(--hud-corner-w) auto;
}

.tr {
    background: url("/ui/HUD_Frames/corner_tr.svg") no-repeat top right;
    background-size: var(--hud-corner-w) auto;
}

.bl {
    background: url("/ui/HUD_Frames/corner_bl.svg") no-repeat bottom left;
    background-size: var(--hud-corner-w) auto;
}

.br {
    background: url("/ui/HUD_Frames/corner_br.svg") no-repeat bottom right;
    background-size: var(--hud-corner-w) auto;
}

/* ---------- Top ---------- */

.top {
    background: url("/ui/HUD_Frames/top.svg") repeat-x top center;
    background-size: auto 3px;
}

/* ---------- Bottom ---------- */

.bottom {
    background: url("/ui/HUD_Frames/bottom.svg") repeat-x bottom center;
    background-size: auto 4.25px;
}

/* ---------- Left ---------- */

.left {
    background: url("/ui/HUD_Frames/left.svg") repeat-y left center;
    background-size: 4px auto;
}

/* ---------- Right ---------- */

.right {
    background: url("/ui/HUD_Frames/right.svg") repeat-y right center;
    background-size: 7px auto;
}

/* ---------- Center ---------- */

.center {
    width: 100%;
    height: 100%;
}

/* ---------- Content ---------- */

.hud-content {
    position: absolute;
    inset: 0;
    z-index: 10;
}

/* Every direct child can be freely positioned */
.hud-content > * {
    position: absolute;
}
